@model BookShare.Web.ViewModels.ManageClaimsViewModel

@{
    ViewBag.Title = "Edit user Claims";
}

<h2>@ViewBag.Title</h2>

<form asp-action="ManageClaims" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />

    <select class="form-control" style="width: 300px; display: inline;" asp-for="ClaimId" asp-items="@(new SelectList(Model.AvailableClaims))">
        <option value=""> -- Select Claim -- </option>
    </select>

    <button type="submit" class="btn btn-primary">Add Claim</button>

    <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-primary">Back user list</a>
</form>