@model List<Book>
@{
    ViewBag.Title = "Book list";
}

<div class="container">

    <div>
        <a asp-action="Create" class="btn btn-primary">Add Book</a>
    </div>

    <div class="row">
        @foreach (var al in @Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 py-3 px-lg-5 ">
                <partial name="_BookCard" model="al" />
            </div>
        }
    </div>
</div>